{{- /* Get images from page bundle */ -}}
{{- $page := . -}}
{{- $images := slice -}}

{{- with $page.Resources.ByType "image" -}}
    {{- $images = . -}}
{{- end -}}

{{- /* Get featured image */ -}}
{{- with $page.Params.cover.image -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
        {{- with resources.Get . -}}
            {{- $images = $images | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- /* Get images from page content */ -}}
{{- $pageContent := $page.Content -}}
{{- $imgRegex := `<img[^>]+src="([^"]+)"` -}}
{{- $imgMatches := findRE $imgRegex $pageContent -}}

{{- range $imgMatches -}}
    {{- $imgSrc := replaceRE $imgRegex "$1" . -}}
    {{- if not (or (hasPrefix $imgSrc "http://") (hasPrefix $imgSrc "https://")) -}}
        {{- with resources.Get $imgSrc -}}
            {{- $images = $images | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- return $images -}}