{{ define "main" }}
<header>
    <h1 class="site-title">Olga Frolova</h1>
    <p class="subtitle">Project Manager & Producer specializing in AI-driven projects</p>
    <div class="contact-info">
        <a href="mailto:olga.frolova.mail@gmail.com">olga.frolova.mail@gmail.com</a>
        <span class="separator">|</span>
        <a href="https://www.linkedin.com/in/olga-frolova/" target="_blank">LinkedIn</a>
    </div>
    <div>
        <a href="/images/Olga_Frolova_2024.pdf" target="_blank">Download my Resume</a>
    </div>
</header>
<main>
    <section>
        <h2>Education</h2>
        <ul>
            <li><strong>Boston University</strong>, MBA (GPA: 3.7) &mdash; Sept 2022 - Aug 2024</li>
            <li><strong>University of British Columbia</strong>, Multimedia and Web Development Diploma &mdash; Jan 2014 - Aug 2016</li>
            <li><strong>Moscow State Linguistic University</strong>, Bachelor&#39;s Degree in Linguistics Education &mdash; Sept 2006 - Jun 2011</li>
        </ul>
    </section>
    <section>
        <h2>Work Experience</h2>
        <h3>BKOM Studios (Montreal, QC - Remote)</h3>
        <p><strong>Project Manager & Producer</strong> &mdash; Feb 2021 - Present</p>
        <ul>
            <li>Managed mobile software and web projects, including AI-powered prototypes for clients like Hasbro.</li>
            <li>Executed company-wide AI training programs to enhance team skills in cutting-edge tech.</li>
            <li>Directed teams to solve complex implementation challenges, meeting deadlines and goals.</li>
        </ul>

        <h3>Advisor Websites (Vancouver, BC)</h3>
        <p><strong>Support Team Manager</strong> &mdash; Mar 2017 - Feb 2021</p>
        <ul>
            <li>Led a technical support team, managing over 2500 businesses and enterprise accounts.</li>
            <li>Improved KPIs such as ticket response times and customer satisfaction rates.</li>
        </ul>

        <h3>4Cats Art Studio (Vancouver, BC)</h3>
        <p><strong>Web Designer</strong> &mdash; Aug 2015 - Dec 2016</p>
        <ul>
            <li>Maintained 70+ websites using WordPress, Shopify, and Squarespace.</li>
        </ul>
    </section>
    <section>
        <h2>Skills</h2>
        <ul>
            <li>Project Management Tools: Jira, Trello, Microsoft Office</li>
            <li>Web Development: HTML, CSS, JavaScript, SQL</li>
            <li>Languages: English, French, Russian</li>
            <li>AI Technologies: Generative AI, Machine Learning</li>
        </ul>
    </section>
</main>
{{ end }}
